@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    max-width: 100%;
}

.Container{
    max-width: 280px;
    background: #1a1b21;
    border-radius: 10px;
}

.row{
    padding: 0 2rem;
}

.nav_bar{
    margin-bottom: 10px;
    
}
.nav_bar img{
    /* min-height: 200px; */
    width: 100%;
    border: 1px solid none;
    border-radius: 10px 10px 0 0;
}

.hero{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.hero h1{
    font-size: 1.7rem;
}

.hero h3{
    font-size: 0.88rem;
    color: #537186;
    margin-bottom: 5px;
}

.hero_web{
    color: #fff;
    font-size: .8rem;
}

.hero__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 8px;
}

.hero__btn a{
    padding: 8px 18px;
    /* background: #fff; */
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}
.web_mail{
    background: #fff;
    color: #000;
}

.web_mail i{
    color: #000;
}

.web_link {
    background: #5093e2;
    color: #fff;
}
.web_link i{
    color: #fff;
}

.main{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.col{
    margin-bottom: 8px;
}

.col h2{
    font-size: 1rem;
    margin-bottom: 3px;
}

.col p {
    font-size: .65rem;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #000;
    padding: 1rem ;
    border-radius: 0 0 10px 10px;
}

.footer i{
    padding: 4px 4px;
    background: #918e9b;
    color: #000;
}